.mat-toolbar {
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

.mat-chip-list a {
  color: black;
}

.mat-form-field {
  width: 400px;
}

.mat-stroked-button {
  margin-left: 15px;
}
