.mat-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.countryAndTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.seachbarfield {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

.mat-form-field {
  width: 100%;
}

.hidden {
  display: none;
}
