.mat-toolbar {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
  justify-self: self-start;
}

.mat-form-field {
  width: 100%;
}

.mat-stroked-button {
  margin-left: 15px;
}

.hidden {
  display: none;
}
