<mat-toolbar
  class="sticky"
  [color]="currentColor"
  [class.mat-elevation-z8]="true"
>
  <div *ngIf="!isHidden" class="countryAndTitle">
    <app-country-selector> </app-country-selector>
    <a routerLink="/">Demostore</a>

    <div *ngIf="currentLocalItem">
      <h1> - {{ currentLocalItem.title }}</h1>
    </div>
  </div>

  <div [@fade]="isHidden ? 'show' : 'hide'" class="seachbarfield">
    <mat-form-field appearance="fill">
      <input
        matInput
        type="seach"
        [(ngModel)]="searchDetails"
        name="search"
        placeholder="Search"
        (keyup.enter)="onSearch()"
      />
    </mat-form-field>
  </div>
  <button mat-icon-button>
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      (click)="onSearch()"
      [color]="isHidden ? mainColor : offColor"
    >
      search
    </mat-icon>
  </button>
</mat-toolbar>
