$line-color: rgb(186, 186, 186);

.margin-top {
  margin-top: 100px;
}
.vertical-line {
  width: 1px;
  background-color: $line-color;
  height: 100%;
  margin: 0 auto;
}
.mat-dialog-actions {
  margin-bottom: 0;
}
.leftt {
  justify-content: flex-start !important;
}
.wrapper {
  display: flex;
  height: 350px;
}
.column {
  width: calc(100% / 2);

  div {
    margin: 10px 0;
  }
}
.devider {
  width: calc(100% / 6);
}
.support {
  display: flex;
  justify-content: space-between;

  h3, .mat-checkbox {
    margin-top: 30px;
  }
}


