.my-card-content {
  padding: 16px;
}
.card {
  margin: 0 auto;
  height: 90%;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
  transition: 0.5s ease;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -1px, 0px);
  cursor: pointer;
}
.mat-card {
  & .mat-card-title {
    font-size: 14px;
  }
}
