$card-hover-bg: rgba(202, 199, 199, 0.11);
$mat-select-bg: rgb(255, 255, 255);

.my-card-content {
  padding: 16px;
}
.my-card {
  height: 350px;
  width: 350px;
}
.card {
  width: 100%;
  margin: 10px;
  max-width: 350px;
  min-width: 270px;
  height: 90%;
  margin-bottom: 8px;
}
.card:hover {
  background-color: $card-hover-bg;
}
mat-card::ng-deep.mat-card-title {
  font-size: 14px;
}
mat-form-field::ng-deep.mat-form-field-flex {
  background-color: $mat-select-bg;
}
mat-form-field::ng-deep.mat-form-field-underline {
  width: 0;
}
.mat-form-field {
  font-size: 16px;
}
mat-form-field::ng-deep.mat-form-field-infix {
  width: 150px;
  margin: 0 20px;
}
